* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2em;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card {
    background-color: #2b3e50;
    color: white;
    padding: 20px;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card h2 {
    font-size: 1.2em;
    text-transform: uppercase;
}

.card:hover {
    transform: translateY(-10px);
    background-color: #365879;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        width: 100px;
        height: 100px;
    }
}
